
  <%- include("../views/parts/head.ejs") %>
  <link rel="stylesheet" href="/styles/generic.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/common.css" />
  <link rel="stylesheet" href="/styles/politica.css" />
</head>

<body>
  <%- include("../views/parts/header.ejs", zap ) %>
  <main class='politica'>
    <div class='container-politica'>
      <h1>Atendimento LGPD</h1>
      <p class='strong'>O formulário de contato desta página é destinado a atender questões relacionadas à lei Geral de Proteção de Dados, para outros assuntos como dúvidas, sugestões e reclamações, acesso o nosso formulário de contato.</p>
      <br />
      <p>O titular de dados pessoais possui o direito de solicitar do site NOVAPAY, a qualquer momento, mediante requisição formal, informações referentes aos seus dados.</p>
      <p>Os pedidos serão analisados conforme previsto em legislação vigente e, por questões legais, algumas solicitações podem não ser atendidas.</p>

      <p>Os titulares de dados, segundo o texto da LGPD, podem exercer os seus direitos por meio de:</p>
      <ul>
      <li>Confirmação da existência de tratamento;</li>

      <li>Acesso aos seus dados pessoais;</li>

      <li>Correção de dados incompletos, inexatos ou desatualizados;</li>

      <li>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto nesta Lei;</li>

      <li>Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;</li>

      <li>Eliminação dos dados pessoais tratados com o consentimento do titular;</li>

      <li>Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;</li>

      <li>Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</li>

      <li>Revogação do consentimento.</li>
      </ul>
      <h2>Como exercer os seus direitos de titular de dados?</h2>
      <ul>

      <li>Se não quiser receber nossas comunicações de marketing, pode cancelar os próximos envios clicando no link enviado junto ao e-mail de marketing;</li>

      <li>Para as demais solicitações em relação aos direitos do titular de dados pessoais, entre em contato conosco através <a href="http://localhost:3000/contato#formulario-de-contato">do nosso formulário</a>;</li>
      </ul>

      
      <form id='formulario-de-contato' method='post' action='/send'>

        <h1>Formulário de contato</h1>

        <div class="field">
          <label for='nameClient'>Nome:
            <input type='text' id='nameClient' name='nameClient' />
          </label>
          <p>Informe seu nome completo para podermos saber quem é você.</p>
        </div>

        <div class="field-double">
          <label for='emailClient'>Email:
            <input type='emailClient' id='emailClient' name='emailClient' />
          </label>

          <label for='telefone'>Telefone:
            <input type='telefoneClient' id='telefoneClient' name='telefoneClient'/>
          </label>
        </div>

        <div class="field">
          <label for='message'>Mensagem:
            <textarea id='message' name='message'></textarea>
          </label>
          <p>Seja o mais descritivo possível.</p>
        </div>

        <p>Você deverá receber um email, aguarde nossa resposta.😃</p>
        <input type='submit' id='enviar' value='Enviar Mensagem'/>
      </form>
    </div>

  </main>
<script type="text/javascript" src="/scripts/actions.js"></script>
</body>
</html>