  <%- include("../views/parts/head.ejs") %>
  <link rel="stylesheet" href="/styles/principal.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/common.css" />
</head>

<body>
  <%- include("../views/parts/header.ejs", zap ) %>


  <main>
    <div class="container">

    <div class='container-h1'>

      <h1>NOVAPAY É FEITO PARA VOCÊ!</h1>

      
      
    </div>
    <div class="container-span">
      <span >
        Responda conforme seu perfil e descubra o <br/> valor disponível para empréstimo!
      </span>
    </div>
  </div>


  <div class="container-simulado">

    <div>
      <h2>
        Simule seu empréstimo <br /> aqui!
      </h2>
    </div>

    <div class='buttons'>
      
    <a href="/simulado" class="button-header">
      Simular Empréstimo
    </a>
    <a href="/limite_de_compra" class="button-header">
      Solicitar limite de compra
    </a>
    <a href="/acompanhar_proposta" class="button-header" >
      Acompanhar Proposta
    </a>

    <a href="http://api.whatsapp.com/send?phone=5519999117248&text=Olá" target="__blank">
      <div class="zap-contact-mobile">
        <img class="zap-icon" src="/images/whatsapp.svg" alt="Clique aqui para entrar em contato" />
        <div>
          <span>Clique aqui</span>
        </div>
      </div>
    </a>
  </div>

    
  </main>
<script type="text/javascript" src="/scripts/scripts.js"></script>
</body>
</html>