<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/principal.css" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter&family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <title>NovaPay | Simule seu empréstimo</title>
</head>
<body>
  <header class="header">

    <div>
      <a href='/'>
        <img class="logo-header" src="/images/logo-global.png" alt="NovaPay" />
      </a>
    </div>


    <div class='group-header'>
      <button type="button" class='button-header'>
        Simular Empréstimo
      </button>
  
      <button type="button" class='button-header'>
        Acompanhar Proposta
      </button>
    </div>

    <div class="zap-contact">
      <img class="zap-icon" src="/images/whatsapp.png" alt="Clique aqui para entrar em contato" />
      <div>
        <span>Clique aqui</span>
        <span>para entrar em contato</span>
      </div>
    </div>

  </header>
  <main>
    <div class="container">

    <!-- <img class='banner' src="" /> -->

    <div class='container-h1'>

      <h1>
        NOVAPAY É FEITO PARA VOCÊ!
      </h1>

      
      
    </div>
    <div class="container-span">
      <span >
        Responda conforme seu perfil e descubra o <br/> valor disponível para empréstimo!
      </span>
    </div>
  </div>


  <div class="container-simulado">

    <h2>
      Simule seu empréstimo	aqui
    </h2>

    <button type="button" class="button-header">
      Simular Empréstimo
    </button>
  </div>
    
  </main>

</body>
</html>