
  <%- include("../views/parts/head.ejs") %>
  <!-- <link rel="stylesheet" href="/styles/common.css" /> -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
  <link rel="stylesheet" href="/styles/header-compact.css" />
  <link rel="stylesheet" href="/styles/questionario.css" />
</head>

<body >
  <%- include("../views/parts/header-compact.ejs") %>
  <main>
    <form class='info-data' method="POST" action="/simulado">
      
      <div id='div_cpf' class='animate__animated animate__bounceInRight' >
        <h1 >😁Informe seu CPF</h1>
        <label for="cpf">CPF:
          <input type="text" id='cpf' name="cpf" placeholder="Digite seu CPF" maxlength="14" onkeypress="mask(this, mCPF);" onblur="mask(this, mCPF);" onkeyup="verifyPassQuestionButton1()"/>
        </label>
        <span class="obs">Precisamos do CPF para ver o valor disponível no INSS.</span>

        <button type="button"  id="proximo1" name="proximo1"  onclick="pass(div_cpf,div_contato)" disabled>
          Próximo
        </button>
      </div>

      <div id='div_contato' class='animate__animated'>
        <h1>📱 Qual o seu contato?</h1>
        <label for="celular" style="margin-top: -0.5rem;">Celular:
          <input type="text" id='celular' name="celular"  style="height: 0.5rem;" placeholder="Digite seu Telefone" onkeypress="mask(this, mphoneC);" onblur="mask(this, mphoneC);" onkeyup="verifyPassQuestionButton2()"/>
          <span id='adendo'>Não se esqueça do nº 9 antes do seu número de celular.</span>
        </label>

        <label for="email" style="margin-top: -1.5rem;" >Email:
          <input type="text" id='email' name="email" style="height: 0.5rem; " placeholder="Digite seu Email" style="margin-bottom: -30px;" onkeypress="validacaoEmail(this)"  maxlength="60" size='65' onkeyup="verifyPassQuestionButton2()"/>
        </label>
        <span id='msgemail' class="obs" >Esse será o nosso principal canal de comunicação com você, portanto,
          é muito importante que esteja correto..
          <br />O Email é opcional.<br/>

          
        </span>

          <button type="button" id="proximo2" name="proximo2" onclick="pass(div_contato,div_carreira)" disabled>
            Próximo
          </button>
      </div>

      <div id='div_carreira' class='animate__animated'>
        <h1>🙂 De onde recebe seu salário ou aposentadoria?</h1>
        <label for="carreira">Carreira:
          <select name="carreira" id="carreira" placeholder="Selecione sua carreira" onclick="verifyPassQuestionButton3()" >
            <option value="" disabled selected>Selecione sua carreira</option>
            <option value="Servidor Federal">Servidor Federal</option>
            <option value="Servidor Estadual">Servidor Estadual</option>
            <option value="Servidor Municipal">Servidor Municipal</option>
            <option value="Servidor GDF">Servidor GDF</option>
            <option value="Forças Armadas">Forças Armadas</option>
            <option value="Pensionistas">Pensionistas</option>
            <option value="Aposentado">Aposentado</option>
            <option value="Empresário">Empresário</option>
            <option value="Autônomo">Autônomo</option>
            <option value="Estagiário">Estagiário</option>
            <option value="Funcionário de Empresa Privada">Funcionário de Empresa Privada</option>

          </select>
        </label>

          <button type="button" id="proximo3" name="proximo3"  onclick="pass(div_carreira,div_beneficio)" disabled>
            Próximo
          </button>
        </div>

        <div id='div_beneficio' class='animate__animated'>
          <h1>💰 Qual o valor do seu benefício?</h1>
          <label for="valor">Valor do Benefício:
            <input type="text" name="valor" id="valor" onkeyup='formatarMoeda(this)' onchange="verifyPassFormAccepted()" onkeypress="verifyPassFormAccepted()" onblur="verifyPassFormAccepted()" onfocus="verifyPassFormAccepted()" onfocusout="verifyPassFormAccepted()" >
          </label>
            <span id='politica' class="obs">Ao continuar você aceita as nossas
              <a href='/politica' target='_blank'>Políticas de Privacidade</a>
            
            </span>
            
            <div style="display:flex; flex-direction:row; align-items:center; margin: 1rem">
              <input type='checkbox' id='accepted' value="accepted" name='accepted' style="width:20px;" onchange="verifyPassFormAccepted()"/>
              <label for="accepted" >Li e aceito as Políticas de privacidade</label>
            </div>
            <button type="submit" id='enviar' onclick="sendForm()" disabled >
              Aceitar e continuar
            </button>
      </div>
    </form>

  </main>
<script type="text/javascript" src="/scripts/actions.js"></script>
<script type="text/javascript" src="/scripts/mascaras.js"></script>
<script type="text/javascript" src="/scripts/scripts.js"></script>
</body>
</html>