
  <%- include("../views/parts/head.ejs") %>
  <link rel="stylesheet" href="/styles/generic.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/common.css" />
</head>

<body>
  <%- include("../views/parts/header.ejs") %>
  <main>


  </main>
<script type="text/javascript" src="/scripts/actions.js"></script>
</body>
</html>