  <header class="header">

    <div>
      <a href='/'>
        <img class="logo-header" src="/images/logo-global.png" alt="NovaPay" />
      </a>
    </div>


    <!-- MENU MOBILE -->
    <div class="menu-hamburguer" onClick="menu()">
      <img src="/images/menu-abrir.svg" id='menu-abrir' style="width:110%"/>
      <img src="/images/menu-fechar.svg" id='menu-fechar' class="disabled" />
    </div>

    <div class="menu disabled">
      <div>
        <div>
          <a href="/simulado" class="item">Simular Empréstimo</a>
        </div>
        <div>
          <a href="/limite_de_compra" class="item">Solicitar limite de compra</a>
        </div>

        <div>
          <a href="/acompanhar_proposta" class="item">Acompanhar Proposta</a>
        </div>

        <div>
          <a href="http://api.whatsapp.com/send?phone=5519999117248&text=Olá" class="item" target="__blank">Entrar em contato</a>
        </div>
      </div>
    </div>

  </header>