<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/principal.css" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter&family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <title>NovaPay | Simule seu empréstimo</title>
</head>
<body>
  <header class="header">

    <div>
      <a href='/'>
        <img class="logo-header" src="/images/logo-global.png" alt="NovaPay" />
      </a>
    </div>


    <div class='group-header'>
      
          <a href="/simulado" class='button-header'>
            Simular Empréstimo
          </a>

      <a href="#" class='button-header'>
        Solicitar limite de compra
      </a>
  
      <a href="#" class='button-header'>
        Acompanhar Proposta
      </a>
    </div>

    <a href="http://api.whatsapp.com/send?phone=5519999117248&text=Olá" target="__blank">
      <div class="zap-contact">
        <img class="zap-icon" src="/images/whatsapp.svg" alt="Clique aqui para entrar em contato" />
        <div>
          <span>Clique aqui</span>
          <span>para entrar em contato</span>
        </div>
      </div>
    </a>

    <!-- MENU MOBILE -->
    <div class="menu-hamburguer" onClick="menu()">
      <img src="/images/menu-abrir.svg" id='menu-abrir' style="width:110%"/>
      <img src="/images/menu-fechar.svg" id='menu-fechar' class="disabled" />
    </div>

    <div class="menu disabled">

        <div>
          <a href="/simulado"class="item">Simular Empréstimo</a>
        </div>
        <div>
          <span class="item">Solicitar limite de compra</span>
        </div>

        <div>
          <span class="item">Acompanhar Proposta</span>
        </div>

        <div>
          <span class="item">Entrar em contato</span>
        </div>
      </div>

  </header>