:root {
  --verde: #336633;
  --azul: #066ac7;
  --branco: #fff;
  --cabin: "Cabin", sans-serif; /* 400 e 500 */
  --inter: "Inter", sans-serif; /* 400 e 600 */
  --raj: "Rajdhani", sans-serif; /* 400 e 600 */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.logo {
  width: 100%;
  filter: brightness(100);
}
header {
  width: 100vw;
  position: absolute;
  background-color: rgb(33, 95, 228);
  height: 10vh;
  padding-left: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 95vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;

  width: 30%;
  height: 30%;
}
form#admCliente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: -30%;

  width: 60%;
  height: 20%;
}
form#admSite {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -15%;
}
aside.sidebar {
  position: fixed;
  height: 100%;
  width: 10vw;
  padding: 3.2rem 2rem; /* 32px 24px*/
  background: rgb(33, 95, 228);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
span {
  font-size: 0.8rem;
  font-family: var(--cabin);
  color: #333;
  margin-top: -1rem;
}

.width-sidebar {
  padding-left: 110px;
}
#page-create {
  display: flex;
  max-height: 100vh;
}
aside.sidebar .menu {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}
aside.sidebar .menu button {
  border: none;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--branco);
  font-size: 1rem;
  font-family: var(--cabin);
  color: #333;
  margin-top: 0.5rem;
  cursor: pointer;
}

input[type="submit"] {
  background-color: var(--azul);
  border: none;
  height: 6vh;
  width: 30%;
  margin: 0 auto;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside.sidebar .menu button:hover,
input[type="submit"]:hover {
  filter: brightness(0.9);
}
aside.sidebar .menu button.selected {
  background-color: var(--verde);
  color: var(--branco);
}
label {
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--cabin);
  color: var(--azul);
}
input,
select {
  width: 90%;
  height: 2vh;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--verde);
  font-size: 1rem;
  margin: 0 1rem;
  font-family: var(--cabin);
  color: var(--azul);
}
.routes {
  position: absolute;
  bottom: 12%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
select {
  width: 36%;
  height: 100%;
}
input:disabled {
  background-color: #ddd;
  border: 2px solid #333;
}
.group-consulta {
  margin-top: 4rem;
  width: 100%;
  padding: 0;
}
.group-consulta label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.group-button {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-button button {
  position: absolute;
  right: 3.2%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--verde);
  color: var(--branco);
  font-size: 1rem;
  font-family: var(--cabin);
  cursor: pointer;
}
.group-button button:hover {
  filter: brightness(0.9);
}
.group-button button:active {
  background-color: var(--azul);
}

input.minus {
  width: 70%;
}
.disabled {
  display: none;
  visibility: hidden;
}
h1 {
  font-size: 2rem;
  font-family: var(--raj);
  color: #fff;
  top: 10px;
}

#transaction {
  overflow-x: auto;
  overflow-y: auto;
  width: 82vw;
  height: 20rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  display: flex;
  align-self: center;
  bottom: 10px;
  position: absolute;
  background-color: var(--branco);
  font-family: var(--cabin);
}
#data-table {
  border-spacing: 0 0.2rem;
  width: 100%;
  text-align: center;
  color: #999;
}

table tbody tr:hover {
  opacity: 1;
}

table#data-table th {
  background: rgb(33, 95, 228);
  font-weight: normal;
  padding: 0.5rem 5rem;
  color: #fff;
  text-align: left;
}

table#data-table td {
  font-weight: normal;
  padding: 0rem 1.5rem;
  overflow: auto;
}
table#data-table tr {
  margin: 0;

  height: 0.5rem;
}
.alter-table {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  text-align: center;
  background-color: none;
}

.alter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.alter-button input {
  width: 100%;
}
.alter-button input:nth-last-child(1) {
  background-color: tomato;
}
