:root {
  --verde: #336633;
  --azul: #066ac7;
  --branco: #fff;
  --cabin: "Cabin", sans-serif; /* 400 e 500 */
  --inter: "Inter", sans-serif; /* 400 e 600 */
  --raj: "Rajdhani", sans-serif; /* 400 e 600 */
}
@media (min-width: 900px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 102vh;
    background: url("/images/fundoDesktop.png") no-repeat center;
    background-color: rgb(22, 79, 24);
    background-position: 100% 45%;
    background-size: cover;
  }
  .container-simulado .button-header:nth-of-type(2),
  .zap-contact-mobile,
  .menu-hamburguer,
  .menu,
  .buttons .button-header:nth-of-type(3) {
    display: none;
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.header {
  height: 16vh;
  width: 100%;
  background-color: #fefefe;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-header {
  width: 80%;
}

/* DIV DOS BOTOES NO HEADER */
.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 40%;
  margin-left: -5rem;
}

/* BOTOES NO HEADER */
.button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  color: var(--branco);
  font-family: var(--cabin);
  font-size: 0.8rem;
  transition: filter 0.5s;
}
header .button-header:nth-of-type(even) {
  background-color: var(--azul);
}
.buttons .button-header {
  background-color: var(--verde);
}
.button-header {
  background-color: var(--verde);
}
.button-header:hover {
  filter: brightness(0.9);
}
.zap-icon {
  width: 3rem;
  margin-right: 1rem;
}

/* CONTATO WHATSAPP NO HEADER */
.zap-contact {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
/* DIV COM O TEXTO DO ZAP */
.zap-contact div {
  display: flex;
  flex-direction: column;
  font-family: var(--raj);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--verde);
}

/* CONTAINER COM H1 E SPAN */

.container-h1 {
  position: relative;
  height: 100%;
  width: 22vw;
  padding-top: 3.8rem;
}
.container-span {
  position: relative;
  margin-left: 2rem;
  padding-top: 1.8em;
}
.container-span span {
  color: var(--branco);
  font-family: var(--inter);
  word-spacing: 3px;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 20px;
}
.container-h1 h1 {
  color: white;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 4rem;
  padding-left: 2rem;
}

/* CONTAINER CENTRAL */
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* AREA QUE LEVA O USUARIO ATE O SIMULADO */
.container-simulado {
  position: relative;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.container-simulado h2 {
  color: var(--verde);
  padding: 0.5rem;
  font-family: var(--raj);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.container-simulado .button-header {
  width: 12rem;
  background-color: var(--verde);
}

@media (max-width: 900px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  .container-h1,
  .zap-contact,
  .group-header,
  .container-span {
    display: none;
    visibility: hidden;
  }

  header {
    height: 30vh;
    padding-top: 2rem;
  }
  .logo-header {
    width: 60%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-simulado {
    margin: 0;
    margin-top: 2vh;
    width: 100vw;
    height: 30vh;
    background: url("/images/fundoMobile.png") no-repeat #3333;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .container-simulado h2 {
    margin-top: calc(20% - 20px);
    font-size: 2.3rem;
    color: var(--branco);
    background-color: unset;
    text-align: center;
    width: 100%;
  }
  .buttons {
    position: relative;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 1.5rem;
    flex-direction: column;
  }
  .buttons .button-header {
    width: 80%;
    height: 14vw;
    font-size: 1.2rem;
  }

  .buttons .button-header:nth-of-type(even) {
    background-color: var(--azul);
  }

  .zap-contact-mobile {
    margin: 2rem auto;
    width: 60vw;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .zap-contact-mobile .zap-icon {
    width: 3.5rem;
    margin-right: 0.5rem;
  }
  .zap-contact-mobile span {
    font-size: 1.8rem;
    font-family: var(--raj);
    color: var(--verde);
    font-weight: 600;
  }
  .menu-hamburguer {
    position: absolute;
    width: 10%;
    right: 1.8rem;
    z-index: 5;
  }
  .menu {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.93);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu div {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem auto;
    font-family: var(--cabin);
    width: 100%;
    text-align: center;
  }
  .disabled {
    visibility: hidden;
    display: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  /* MENU MOBILE */
}
