:root {
  --verde: #336633;
  --azul: #066ac7;
  --verde-claro: #61b161;
  --branco: #fff;
  --cabin: "Cabin", sans-serif; /* 400 e 500 */
  --inter: "Inter", sans-serif; /* 400 e 600 */
  --raj: "Rajdhani", sans-serif; /* 400 e 600 */
}
html,
body {
  overflow: hidden;
}

form {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a,
.obs a {
  text-decoration: none;
  color: var(--azul);
  font-weight: 600;
}
#adendo,
#msgemail {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
#email {
  margin-top: 0.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #f3f3f3;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: var(--cabin);
}
.confirmation p {
  font-size: 0.9rem;
  text-align: center;
}
.confirmation button,
button {
  background-color: var(--azul);
  border: none;
  color: var(--branco);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.enable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}
.enable h1 {
  font-family: var(--cabin);
  position: fixed;
  top: 5%;

  color: var(--verde);
  font-weight: 400;
}

.enable input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1rem;
}

.enable input:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-size: 0.9rem;
}

.enable input::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-size: 0.9rem;
}

.enable input:-ms-input-placeholder {
  color: #999;
  font-size: 0.9rem;
}

.enable input,
select {
  width: 30vw;
  border: 3px solid #f0f0f0;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--cabin);
  outline: none;
  color: var(--azul);
}
.enable label:nth-last-of-type(2) {
  margin-top: 5rem;
}
.enable label {
  border: none;
  font-family: var(--inter);
  position: relative;
  display: flex;
  flex-direction: column;
}

.enable .obs {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #555;
  font-weight: 600;
  padding: 2rem;
  width: 70%;
  text-align: center;
  background-color: #f3f3f3;
  font-family: var(--raj);
}
.enable button {
  width: 28vw;
  height: 4rem;
  font-weight: bold;
  border-radius: 6px;
  font-family: var(--inter);
}
select {
  margin-bottom: 2rem;
}
button:disabled {
  background-color: #999;
  color: #000;
  cursor: not-allowed;
}
button {
  transition: all 0.5s;
}
button:hover {
  filter: brightness(0.9);
}
.disable {
  visibility: hidden;
  display: none;
}

@media (max-width: 900px) {
  main {
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .enable h1 {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: -10rem;
    margin-bottom: 4rem;
  }
  .enable {
    padding-top: 2rem;
  }
  .enable input,
  .enable button {
    width: 100%;
    box-sizing: border-box;
  }
  label {
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: 600;
  }
  #adendo {
    text-align: center;
  }
  select {
    width: 100%;
  }
}
